{{#partial "content"}}

    <div class="container text-start mx-auto">

        <div class="card mb-3 mx-auto" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{endangered.name}}</h5>
                        <p class="card-text">
                        <p>Animal Name: {{endangered.name}}</p>
                        <p>Animal Type: {{endangered.type}}</p>
                        <p>Animal Age: {{endangered.age}}</p>
                        <p>Animal Health: {{endangered.health}}</p>
                        <p class="card-footer">
                        <p><a class="btn btn-danger justify-content-left" href="/endanger/{{endangered.id}}/delete">delete {{endangered.name}}</a> </p>
                        <a href="/endangered/new" class="btn btn-outline-success">Add Endangered</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

{{/partial}}
{{> layout.hbs}}