{{#partial "content"}}

    <div class="container text-start mx-auto">

        <div class="card mb-3 mx-auto" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-8">
                    {{#each endangered}}
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">
                        <p>Animal Name: {{name}}</p>
                        <p>Animal Age: {{age}}</p>
                        <p>Animal Health: {{health}}</p>
                        <p>Animal Type: {{type}}</p>
                        <p class="card-footer">
                        <p><a class="btn btn-danger justify-content-left" href="/endangered/{{id}}/delete">delete {{name}}</a> </p>
                        <hr>
                    </div>
                        {{/each}}
                    <a href="/endangered/new" class="btn btn-outline-success">Add Endangered</a>
                    <hr>
                    <p><a class="btn btn-danger justify-content-left" href="/endengered/delete">Clear Endangered Animals</a> </p>
                </div>
            </div>
        </div>

    </div>

{{/partial}}
{{> layout.hbs}}